.Footer
  font-size: 1.4rem
  line-height: 2.4rem

  box-shadow: 0 -1px $Colors.Divider

  +at-small()
    font-size: 2.3rem
    line-height: 3.3rem

  &-Content
    display: flex
    align-items: center

    width: $Sizes.PageWidth
    max-width: 100%
    max-width: calc(100% - 5rem)
    height: $Sizes.FooterHeight
    padding-bottom: $Sizes.FooterPadding
    margin: 0 auto

    +at-small()
      max-width: calc(100% - 8rem)

    & > *
      display: inline-block

  &-Subscribe
    align-self: flex-end
    flex-shrink: 1
    flex-grow: 1
    flex-basis: 50%

    margin-bottom: 1rem

    &-Header
      display: block

      font-size: 2rem
      line-height: 3rem
      margin-bottom: 6px

    &-Button
      margin-left: 1.6rem

  &-Copyright
    padding-left: 1.5rem
    height: 2.4rem

    color: $Colors.Misc

    &-Part
      display: block

  &-Logo
    color: $Colors.Logo
    margin-top: auto
    margin-left: 50px
    margin-bottom: 8px

    &[href]:hover,
    &[href]:focus
      color: $Colors.Logo_hover

    +at-small()
      & .ui-Icon_FooterLogo
        width: 76px
        height: 70px

  &-Info
    display: flex
    align-self: stretch
    flex-direction: column
    flex-wrap: wrap
    justify-content: flex-end
    align-items: flex-end
    flex-shrink: 1
    flex-grow: 1
    flex-basis: calc(50% - 10rem)

  &-MustRead
    display: flex
    align-self: stretch

    &-Item
      display: inline-block
      display: flex

      height: $Sizes.FooterHeight - 2.4rem

    &-Link
      position: relative
      display: inline-block
      display: flex
      align-items: center

      white-space: nowrap

      padding: 0 1.5rem
      margin-bottom: -1rem

      &:not([href]) > .ui-Link-Content
        padding: 5px 13px 3px
        margin: -5px -13px -3px

        line-height: 2.2rem

        color: $Colors.ActiveItemText
        background: $Colors.ActiveItem

        border-radius: 99px
