.Schedule
  display: block

  &-Body
    display: block

    +at-large()
      padding-left: 10rem

  &-Item
    position: relative

    display: flex

    +at-large()
      visibility: hidden

      padding-top: $Sizes.HeaderHeight
      margin-top: -1*$Sizes.HeaderHeight

    +at-small()
      border-top: 2px solid $_BrandColors.Green

      flex-wrap: wrap

    &:not(:target):hover
      color: $Colors.Link_hover

    &:not(:target) .AdditionalInfo
      display: none

    +at-small()
      &:not(:target):not(&_break) h4
        display: none

    & .AdditionalInfo
      +at-small()
        margin-left: 180px

  &-Cell
    &&
      visibility: visible
      border-top: 2px solid $_BrandColors.Green
      padding-top: 2.4rem
      padding-bottom: 2.8rem

      +at-small()
        border-top: 0

    :target > &
      padding-top: 2.8rem
      padding-bottom: 4rem

    &_left
      flex-shrink: 0

      width: 150px
      padding-right: 3rem

      font: 2.6rem/4.8rem $Fonts.Bold

      color: $_BrandColors.Green

      +at-small()
        ^[0]-Item_break &
          width: auto
          margin-right: 3rem

        ^[0]-Item:not(^[0]-Item_break) &
          width: 100%

        &&
          padding: 2.5rem 0 0

      ^[0]-Item:target > &
        +at-large()
          height: 20.5rem

      ^[0]-Item_break > &
        font-size: 1.4rem
        line-height: 1

        +at-small()
          font-size: 2.3rem

      & img
        max-width: none

    &_middle
      &&
        display: flex
        flex-direction: column
        flex-grow: 1

        padding-top: 2.9rem

        text-align: left !important

        +at-small()
          &&
            display: block

            max-width: calc(100% - 50px)
            padding-left: 0
            padding-top: 0

          ^[0]-Item_break &&
            max-width: none
            padding-top: 3rem

            & h4
              margin: 0

      :target > &
        padding-top: 3.3rem

    &_right
      display: flex
      align-items: center
      flex-shrink: 0

      width: 28px

      +at-small()
        &&
          margin-top: -6rem

          ^[0]-Item:target &
            align-self: flex-start

            margin-top: -1.5rem

    ^[0]-Item_break > &
      padding-top: 3rem

  &&& h3
    +at-small()
      font-size: 3rem

  &&& h4
    margin-top: 0.5rem

    +at-small()
      margin-bottom: 2rem

  & &-Item_break h4
    margin: 0

    font-family: $Fonts.Bold
    font-size: 1.4rem
    line-height: 1

    color: $_BrandColors.Green

    +at-small()
      font-size: 2.3rem

  & p
    max-width: 52rem

    font-size: 1.4rem
    line-height: 2.4rem

    +at-small()
      font-size: 2.3rem
      line-height: 3.6rem

  &-Picture
    width: 150px
    height: 150px
    align-self: flex-start

    display: block

    +at-large()
      position: absolute
      left: 0
      top: $Sizes.HeaderHeight + 8.5rem

    +at-small()
      float: left
      margin-left: 0 !important

  &-Links
    +at-small()
      margin-top: 2rem

    +at-large()
      margin-top: auto
      margin-bottom: -0.8rem

    && p
      margin: 0

  &-Toggler
    width: 28px

    & .ui-Icon
      display: block

      &-Image
        margin: auto

    &-On:before
      content: ""

      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0

      +at-large()
        top: $Sizes.HeaderHeight


    ^[0]-Item:target &-On,
    ^[0]-Item:not(:target) &-Off
      display: none

  &-Name + &-Company:before
    content: "__"