// So it would be guaranteed that it would override `Content`
@require 'content.styl'

.Section
  width: auto
  max-width: none
  padding: 3.5rem 0
  margin: 0

  &:last-child
    padding-bottom: 8rem

  &_Landing.Content
    display: flex

    min-height: "calc(100vh - %s)" % ($Sizes.HeaderHeight + $Sizes.FooterHeight + $Sizes.FooterPadding)
    padding: 0

    background: $Colors.PreLanding
    color: $Colors.PreLandingText

    & > ^[0]-Banner
      display: flex
      align-items: center
      position: relative

      background: url('images/Scissors.jpg') 100% 50% no-repeat
      background-size: 325px 850px

      +at-tall()
        background-position: 100% 10px

    +at-tall()
      background-position: 100% 10px

    & ::selection
      background: $_BrandColors.Purple

    & h1
      width: min-content
      padding: 0.5em 0
      margin: 0
      margin-left: -0.025em
      margin-right: 4.8rem

      font-size: 16rem
      letter-spacing: -3px
      line-height: 0.8125

      color: inherit

      +at-small()
        font-size: 12.8rem

    & h2
      position: absolute
      top: 50%
      right: 1em

      margin: 0

      font-size: 4.8rem
      line-height: 1

      color: $Colors.PageText

      transform: rotate(-90deg) translateX(50%)
      transform-origin: 100% 0

  &_Badge
    overflow: hidden

    padding-top: 7rem

    background-color: #F6F6F6

    +at-large()
      padding-bottom: 9.5rem
      background-image: linear-gradient(to right, transparent ('calc(50% + %s - %s)' % (0.5*$Sizes.PageWidth 0.5*$Sizes.BadgeWidth)), $_BrandColors.Green 0),
                        linear-gradient(to right, transparent ('calc(100% - %s - 2.5rem)' % (0.5*$Sizes.BadgeWidth)), $_BrandColors.Green 0)

  &-BadgeWrap
    position: relative

    +at-large()
      display: flex

  &-BadgeForm
    flex-grow: 1

    +at-large()
      margin-right: $Sizes.BadgeWidth + 28px
      min-height: $Sizes.BadgeHeight + 48px

      & > *
        max-width: 72rem

  &-Badge
    +at-small()
      padding-top: 88px
      margin: 0 -10rem 90px
      background-image: linear-gradient($_BrandColors.Green 503px, transparent 0)

      & > .Badge
        margin: 0 auto

    +at-large()
      position: absolute
      top: 4.7rem
      right: 0

      margin: 0


  &_SpeakAndConduct
    +at-large()
      margin-top: 7rem

    & .ui-Link_Bright
      display: inline-block
      margin-top: 1rem

      +at-small()
        @supports (width: fit-content)
          display: block
          width: fit-content
          margin: 2rem auto

    & .ui-Button_Bright
      margin-top: 4rem

      +at-small()
        display: block
        height: 72px
        margin-top: 3rem
        margin-bottom: 7rem

        line-height: 66px

    & .ui-Block
      height: auto
      margin-top: 3.5rem


  &_Mission
    padding-top: 7rem

    +at-large()
      & > ^[0]-Banner
        min-height: 466px
        padding-left: 352px

        background: url('images/Rock.jpg') 0 0 no-repeat
        background-size: 296px 466px
