.SocialLinks
  display: flex
  align-self: stretch

  +at-small()
    margin-right: -1.5rem

  &-Item
    display: inline-block
    display: flex

    overflow: hidden

  &-Link
    position: relative
    display: inline-block
    display: flex
    align-items: center
    justify-content: center

    width: 32px
    padding: 0 1.5rem

    color: $Colors.SocialLink
