.ui-Block
  &,
  &_ghost
    box-sizing: border-box
    height: 100%
    padding: 1.5rem 2.5rem

  &,
  &_ghost:target
    color: $Colors.BlockText
    background: $Colors.Block

  &_ghost
    color: inherit
    background: inherit

  &_dark
  &_ghost&_dark:target
    color: $Colors.DarkBlockText
    background: $Colors.DarkBlock
