.ui-Block
  box-sizing: border-box
  height: 100%
  padding: 1.5rem 2.5rem

  color: $Colors.BlockText
  background: $Colors.Block

  &_dark
    color: $Colors.DarkBlockText
    background: $Colors.DarkBlock
