.ui-Icon
  position: relative
  display: inline-block
  vertical-align: middle
  text-decoration: none

  &-Image
    display: block

  &-Helper
    width: 100%
    height: 100%
    fill: transparent

@require '../../_icons/sprite.styl'
