.ui-Input
  position: relative

  display: inline-block
  vertical-align: baseline

  box-sizing: border-box
  width: 220px
  max-width: 100%
  height: $Sizes.ButtonHeight
  border: none
  margin: 0

  font: inherit
  line-height: @height
  background: transparent

  -moz-appearance: none
  cursor: text

  color: inherit
  box-shadow: inset 0 -2px 0 $Colors.Misc

  +at-small()
    height: $Sizes.ButtonHeight_narrow
    padding-top: 0.4rem

    line-height: @height + 0.6rem

  &:hover
    box-shadow: inset 0 -2px 0 $Colors.Button

  &:focus
    outline: none
    box-shadow: inset 0 -2px 0 $Colors.Button_active
