.ui-Link
  &,
  /.Content a:not([class])
    text-decoration: none

    color: $Colors.Link

  &-Content
    .ui-Icon + &
      margin-left: 1rem

    &,
    /.Content a:not([class]),
    ^[0]_Bright
      padding: 0.35em 0

      background-repeat: repeat-x
      background-size: 16px 1px
      background-position: 0 calc(50% + 0.75em)

    @supports (background-position: 0 calc(50% + 0.75em))
      ^[0][href] &
        background-image: linear-gradient($Colors.LinkUnderline, $Colors.LinkUnderline)

      ^[0][href]:hover &,
      ^[0][href]:focus &,
      /.Content a:not([class])[href]:hover,
      /.Content a:not([class])[href]:focus,
      ^[0]_Bright:hover,
      ^[0]_Bright:focus
        background-image: linear-gradient($Colors.LinkUnderline_hover, $Colors.LinkUnderline_hover)


  &[href]:hover,
  &[href]:focus,
  &_Bright,
  /.Content a:not([class])[href]
    color: $Colors.Link_hover

  & .ui-Icon
    margin-top: -0.2em

  &_Bright
    font-family: $Fonts.Bold

    color: $Colors.Link_hover

    background-size: 16px 2px
