include ../pug/_common.pug

- delete data.menu[0].href
- delete data.footerMenu[0].href

+Page({ title: "Call for Speakers" })._CfS
  +Header({ menu: data.menu, actionIsHidden: true })

  +b.Content.-Content(role="main")
    include:markdown-it(html=true, typographer=true) index.md

  +Footer({ menu: data.footerMenu })
