/* Banner */

.banner {
    position: relative;
    margin: auto;
    margin-bottom: -0.3em;
    padding: 1em 0 2.3em;
    max-width: 848px;
    background: url(images/hand.jpg) 100% 0 / auto 100% no-repeat;
    }

/* Hand */

@media (min-width: 480px) {
    .banner {
        margin-top: -0.6em;
        margin-bottom: -2em;
        }
    }

/* Lock */

@media (max-width: 320px) {
    .banner {
        font-size: 3.45rem;
        }
    }

@media (min-width: 320px) {
    .banner {
        font-size: calc(
            3.45rem
            + ((8 - 3.45) * 16)
            * (100vw - 320px)
            / (848 - 320));
        }
    }

@media (min-width: 848px) {
    .banner {
        font-size: 8rem;
        }
    }

/* Slogan */

.banner__slogan {
    margin: 0;
    margin-left: -0.06em;
    padding: 0;
    list-style: none;
    line-height: 0.76;
    font-weight: bold;
    font-size: 1em;
    }

/* Abbr */

.banner__abbr {
    text-decoration: none;
    }

/* Date */

.banner__date {
    position: absolute;
    top: 1.5em;
    right: 0;
    margin: 0;
    color: #0A0B09;
    line-height: 0.6;
    font-weight: bold;
    font-size: 0.37em;
    transform-origin: 100% 100%;
    transform: rotate(-90deg);
    }
.banner__date::before {
    content: '\2014';
    }
