/* Footer */

.footer {
	position: relative;
	display: flex;
	margin: auto;
	max-width: 848px;
	height: 3em;
	align-items: flex-end;
	font-size: 1rem;
	}

/* Lock */

@media (max-width: 320px) {
    .footer {
		font-size: 1rem;
        }
    }

@media (min-width: 320px) {
    .footer {
        font-size: calc(
            1rem
            + ((1.5 - 1) * 16)
            * (100vw - 320px)
            / (848 - 320));
        }
    }

@media (min-width: 848px) {
    .footer {
		font-size: 1.5rem;
        }
    }

/* Slash */

.footer::after {
	margin-left: auto;
    width: 2.2em;
    height: 2em;
    background: url(images/slash.svg) 100% 0 no-repeat;
    content: '';
    }

/* Link */

.footer__link {
	padding-left: 2em;
	color: #fff;
	line-height: 0.5;
	text-decoration: none;
	}
.footer__link::before {
	position: absolute;
	margin-top: -0.35em;
	margin-left: -2em;
    width: 1.65em;
    height: 1em;
    background: url(images/envelope.svg) no-repeat;
    content: '';
	}
