/* Form */

.form {
    position: relative;
    margin: auto;
    max-width: 848px;
    }

/* Lock */

@media (max-width: 320px) {
    .form {
        font-size: 1rem;
        }
    }

@media (min-width: 320px) {
    .form {
        font-size: calc(
            1rem
            + ((1.5 - 1) * 16)
            * (100vw - 320px)
            / (848 - 320));
        }
    }

@media (min-width: 848px) {
    .form {
        font-size: 1.5rem;
        }
    }

/* Caption */

.form__caption {
    margin-top: 0;
    margin-bottom: -0.25em;
    color: #0A0B09;
    font-weight: bold;
    font-size: 1em;
    }

/* Fields */

.form__group {
    display: flex;
    flex-direction: column;
    }

@media (min-width: 480px) {
    .form__group {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        }
    }

/* Email */

.form__email {
    position: relative;
    padding-top: 0.5em;
    margin-bottom: 1em;
    }

@media (min-width: 480px) {
    .form__email {
        margin-bottom: 0;
        padding-right: 1.5em;
        flex-grow: 1;
        }
    }

/* Label */

.form__label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.75em 0 0.25em;
    font-size: 1em;
    }

/* Input */

.form__input {
    margin: 0;
    padding: 0.3em 0;
    width: 100%;
    border: none;
    background: none;
    color: #fff;
    font-family: inherit;
    font-size: 1em;
    transition: box-shadow 0.1s linear;
    }
.form__input:focus {
    outline: none;
    }
.form__input,
.form__input:invalid {
    box-shadow: 0 -0.125em 0 0 #fff inset;
    }
.form__input:focus {
    box-shadow: 0 -0.2em 0 0 #fff inset;
    }

/* Action */

.form__input:focus + .form__label,
.form__input:valid + .form__label {
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    }

/* Button */

.form__button {
    margin: 0;
    padding: 1.1em 0 1em;
    border-radius: 0.25em;
    border: 0.125em solid #fff;
    background: #fff;
    color: #00e2b5;
    font-family: inherit;
    font-size: 1em;
    }
.form__button::-moz-focus-inner {
    padding: 0;
    border: 0;
    }

@media (min-width: 480px) {
    .form__button {
        padding: 0.5em 0 0.4em;
        width: 8em;
        background: none;
        color: #fff;
        transition: all 0.1s linear;
        }
    }

/* Action */

.form__button:hover,
.form__button:focus {
    outline: none;
    }

@media (min-width: 480px) {
    .form__button:hover,
    .form__button:focus,
    .form__button:active {
        color: #00e2b5;
        }
    .form__button:hover,
    .form__button:focus {
        background: #fff;
        }
    }

.form__button:active {
    border-color: #d8faf3;
    background: #d8faf3;
    }
