/* Sizing */

*, *::before, *::after {
    box-sizing: border-box;
    }

/* Page */

.page {
    background: #00e2b5;
    }

/* Body */

.page__body {
    position: relative;
    margin: auto;
    padding: 2em 1.5em 1.5em;
    max-width: 1280px;
    color: #fff;
    line-height: 1;
    font-family: Gotham Pro, sans-serif;
    }

/* Lock */

@media (max-width: 320px) {
    .page__body {
        font-size: 1rem;
        }
    }

@media (min-width: 320px) {
    .page__body {
        font-size: calc(
            1rem
            + ((2 - 1) * 16)
            * (100vw - 320px)
            / (848 - 320));
        }
    }

@media (min-width: 848px) {
    .page__body {
        font-size: 2rem;
        }
    }
