-
  var data = {
    date: "June 16th, 2017",

    action: {
      text: '1699₽',
      icon: true,
      description: '1699₽',
      href: '/#Ticket'
    },

    menu: [
      { name: "Call for Speakers", href: '/call-for-speakers/' },
      { name: "Code of Conduct", href: '/code-of-conduct/' }
    ],

    footerMenu: [
      { name: "Call for Speakers", href: '/call-for-speakers/' },
      { name: "Code of Conduct", href: '/code-of-conduct/' }
    ],

    subscribe: {
      label: 'Be the first to know',
      placeholder: 'Your e-mail',
      button: 'Notify me'
    }
  };
