-
  var data = {
    date: "16 June, 2017",

    action: {
      text: 'Speak at pitercss!',
      href: 'call-for-speakers.html'
    },

    menu: [
      { name: "Code of Conduct", href: 'code-of-conduct.html' }
    ],

    footerMenu: [
      { name: "Code of Conduct", href: 'code-of-conduct.html' },
      { name: "Call for Speakers", href: 'call-for-speakers.html' }
    ],

    subscribe: {
      label: 'Be the first to know',
      placeholder: 'Your e-mail',
      button: 'Notify me'
    }
  };
