-
  var data = {
    date: "June 16th, 2017",

    action: {
      text: '1699₽',
      icon: true,
      description: '1699₽',
      href: '/#Ticket'
    },

    menu: [
      { name: "Call for Speakers", href: '/call-for-speakers/' },
      { name: "Code of Conduct", href: '/code-of-conduct/' }
    ],

    footerMenu: [
      { name: "Call for Speakers", href: '/call-for-speakers/' },
      { name: "Code of Conduct", href: '/code-of-conduct/' }
    ],

    subscribe: {
      label: 'Be the first to know',
      placeholder: 'Your e-mail',
      button: 'Notify me'
    },

    schedule: [
      {
        id: "JenKramer",
        time: "10:00",
        picture: "https://placehold.it/150x150",
        name: "Jen Kramer",
        company: "codeacademy",
        title: "CSS4 Grid: True Layout Finally Arrives",
        info: "How do you take a complex web application, with a myriad of components and interactions, and make it fully responsive without pulling your hair out for a year?",
        links: [
          { title: "about this speaker", link: "https://yandex.ru" }
        ]
      },
      {
        type: "break",
        time: "12:00",
        title: "short break"
      },
      {
        id: "JohnatanSnook",
        time: "11:00",
        picture: "https://placehold.it/150x150",
        name: "Johnatan Snook",
        company: "Opera",
        title: "Responsive Web Applications with Container Queries",
        info: "How do you take a complex web application, with a myriad of components and interactions, and make it fully responsive without pulling your hair out for a year?",
        links: [
          { title: "about this speaker", link: "https://yandex.ru" }
        ]
      },
      {
        id: "TimJenkins",
        time: "12:15",
        picture: "https://placehold.it/150x150",
        name: "Tim Jenkins",
        company: "Yahoo",
        title: "CSS4 Grid: True Layout Finally Arrives",
        info: "How do you take a complex web application, with a myriad of components and interactions, and make it fully responsive without pulling your hair out for a year?",
        links: [
          { title: "about this speaker", link: "https://yandex.ru" }
        ]
      },
      {
        type: "break",
        time: "14:15",
        title: "loooooooooooooooooooooooooooonger break"
      },
      {
        id: "MichaelRudnick",
        time: "13:15",
        picture: "https://placehold.it/150x150",
        name: "Michael Rudnick",
        company: "yandex",
        title: "CSS4 Grid: True Layout Finally Arrives",
        info: "How do you take a complex web application, with a myriad of components and interactions, and make it fully responsive without pulling your hair out for a year?",
        links: [
          { title: "about this speaker", link: "https://yandex.ru" }
        ]
      },
      {
        type: "break",
        time: "20:15",
        title: "afterparty"
      }
    ]
  };
