-
  var data = {
    date: "June 16th, 2017",

    action: {
      text: '1699₽',
      icon: true,
      description: '1699₽',
      href: '/#Ticket'
    },

    menu: [
      { name: "Call for Speakers", href: '/call-for-speakers/' },
      { name: "Code of Conduct", href: '/code-of-conduct/' }
    ],

    footerMenu: [
      { name: "Call for Speakers", href: '/call-for-speakers/' },
      { name: "Code of Conduct", href: '/code-of-conduct/' }
    ],

    subscribe: {
      label: 'Be the first to know',
      placeholder: 'Your e-mail',
      button: 'Notify me'
    },

    schedule: [
      {
        id: "eva-lettner",
        picture: "/speakers/eva-lettner.jpg",
        name: "Eva Lettner",
        company: "ChillBill",
        title: "Paint the web with CSS. On creating art with code",
        info: "As developers we view code as one thing: a tool to build our projects with. But what if I told you that it can be so much more: CSS can be a paintbrush and HTML your canvas. Lets find out what you can do by misusing a technology you might already know well. In this talk you will learn the basics of creating pure CSS images and animations. You will find out everything about shapes, how to use less markup and why gradients are not just pretty, but pretty useful too. All these learnings will be brought into real life projects to show that nothing you create for fun has to be useless. This talk will hopefully inspire you to view code differently and maybe even to create your own CSS drawings.",
        links: [
          { title: "@eva_trostlos", link: "https://twitter.com/eva_trostlos" }
        ]
      },
      {
        id: "patrick-kettner",
        picture: "/speakers/patrick-kettner.jpg",
        name: "Patrick Kettner",
        company: "Microsoft",
        title: "Creating Magic With Houdini",
        info: "Since the dawn of (internet) time, web developers have been at the mercy of browsers when it comes to features. But what if the black magic they use to create new HTML and CSS properties were given to you? Thats exactly what the Houdini working group is working to provide web developers today! In a futuristic, code heavy session I will show how in the not too distant future, you will be able to create your own custom browser features using low level APIs never before available to developers.",
        links: [
          { title: "@patrickkettner", link: "https://twitter.com/patrickkettner" }
        ]
      },
      {
        id: "JenKramer",
        time: "10:00",
        picture: "https://placehold.it/150x150",
        name: "Jen Kramer",
        company: "codeacademy",
        title: "CSS4 Grid: True Layout Finally Arrives",
        info: "How do you take a complex web application, with a myriad of components and interactions, and make it fully responsive without pulling your hair out for a year?",
        links: [
          { title: "about this speaker", link: "https://yandex.ru" }
        ]
      },
      {
        type: "break",
        time: "12:00",
        title: "short break"
      },
      {
        id: "JohnatanSnook",
        time: "11:00",
        picture: "https://placehold.it/150x150",
        name: "Johnatan Snook",
        company: "Opera",
        title: "Responsive Web Applications with Container Queries",
        info: "How do you take a complex web application, with a myriad of components and interactions, and make it fully responsive without pulling your hair out for a year?",
        links: [
          { title: "about this speaker", link: "https://yandex.ru" }
        ]
      },
      {
        id: "TimJenkins",
        time: "12:15",
        picture: "https://placehold.it/150x150",
        name: "Tim Jenkins",
        company: "Yahoo",
        title: "CSS4 Grid: True Layout Finally Arrives",
        info: "How do you take a complex web application, with a myriad of components and interactions, and make it fully responsive without pulling your hair out for a year?",
        links: [
          { title: "about this speaker", link: "https://yandex.ru" }
        ]
      },
      {
        type: "break",
        time: "14:15",
        title: "loooooooooooooooooooooooooooonger break"
      },
      {
        id: "MichaelRudnick",
        time: "13:15",
        picture: "https://placehold.it/150x150",
        name: "Michael Rudnick",
        company: "yandex",
        title: "CSS4 Grid: True Layout Finally Arrives",
        info: "How do you take a complex web application, with a myriad of components and interactions, and make it fully responsive without pulling your hair out for a year?",
        links: [
          { title: "about this speaker", link: "https://yandex.ru" }
        ]
      },
      {
        type: "break",
        time: "20:15",
        title: "afterparty"
      }
    ]
  };
