$_BrandColors = {
  White: #FFF
  Black: #303B40
  DarkBlack: #1E1E1C
  LightGray: #F7F7F7
  Gray: #B4BDC7
  DarkGray: #77808A
  Green: #00E2B5
  Purple: #FF0195
  Yellow: #F9C752
  Red: #FF6E6E
}

$Colors = {
  PreLanding: $_BrandColors.Green
  PreLandingText: $_BrandColors.White

  Page: $_BrandColors.White
  PageText: $_BrandColors.Black
  PageHeader: $_BrandColors.Green

  ActiveItem: $_BrandColors.Green
  ActiveItemText: $_BrandColors.White

  Button: $_BrandColors.Purple
  Button_hover: #FF42B0
  Button_active: #ED058C
  ButtonText: $_BrandColors.White

  ActionButton: $_BrandColors.Purple
  ActionButtonText: $_BrandColors.White

  Logo: $_BrandColors.Green
  Logo_closing: $_BrandColors.Purple
  LogoText: $_BrandColors.DarkBlack

  Link: $_BrandColors.Black
  Link_hover: $_BrandColors.Purple
  LinkUnderline: rgba($_BrandColors.DarkBlack, 0.2)
  LinkUnderline_hover: rgba($_BrandColors.Purple, 0.2)

  Selection: $_BrandColors.Green
  SelectionText: $_BrandColors.White

  Divider: rgba($_BrandColors.Black, 0.2)

  SocialLink: $_BrandColors.Gray

  Pin_inactive: $_BrandColors.Gray

  Misc: $_BrandColors.Gray

  Marker: $_BrandColors.Green

  TableHeader: $_BrandColors.Green

  Block: $_BrandColors.LightGray
  BlockText: $_BrandColors.Black
  DarkBlock: $_BrandColors.DarkGray
  DarkBlockText: $_BrandColors.White

  Quote: $_BrandColors.Green

  Input_error: $_BrandColors.Red
}

$Sizes = {
  BodyText: 2rem
  LineHeight: 1.6em
  PageWidth: 1280px
  HeaderHeight: 11.5rem
  HeaderHeight_narrow: 12.8rem
  ContentWidth: 84rem
  FooterHeight: 9.6rem
  FooterPadding: 4.4rem

  NavActionHeight: 5rem
  ButtonHeight: 3.2rem
  ButtonHeight_narrow: 4.8rem
  ButtonPaddings: 2.5rem

  BadgeWidth: 370px
  BadgeHeight: 555px
}

$Fonts = {}

$Fonts['Normal'] = Gotham Pro, Helvetica Neue, sans-serif
$Fonts['Bold'] = Gotham Pro Bold, Helvetica Neue, sans-serif
