$_BrandColors = {
  White: #FFF
  Black: #303B40
  DarkBlack: #1E1E1C
  LightGray: #F7F7F7
  Gray: #B4BDC7
  DarkGray: #77808A
  Green: #00E2B5
  Purple: #FF0195 // FF42B0 on hover, #ED058C on active
  Yellow: #F9C752
}

$Colors = {
  Page: $_BrandColors.White
  PageText: $_BrandColors.Black
  Link: $_BrandColors.Black
  Link_hover: $_BrandColors.Purple
  LinkUnderline: rgba($_BrandColors.DarkBlack, 0.2)
  LinkUnderline_hover: rgba($_BrandColors.Purple, 0.2)
  Selection: $_BrandColors.Green
  SelectionText: $_BrandColors.White
  Divider: rgba($_BrandColors.Black, 0.2)
}

$Sizes = {
  BodyText: 2rem
  LineHeight: 1.6em
}
