include pug/_common.pug

+Page
  +Header({ isIndex: true, action: true })

  +b.Content.-Content(role="main")
    h1 h1. What we expect and other text
    h2 h2. Sponsoring Front-Trends, you'll reach thousands of web developers
    h3 h3. Front-Trends is one of Europe’s most established annual conferences for professional front-end developers
    h4 h4. Sometext content

    p There are techniques that will help you prepare for that situation. We’ll illuminate the audience and reduce the brightness of the stage lights for Q&A sessions.
    p Be prepared for a <strong>lot of light</strong>. Depending on <em>the conditions</em>, you may or may not be able to see the audience well (or at all). There are techniques that will help you prepare for that situation. We’ll illuminate the audience and reduce the brightness of the stage lights for Q&A sessions.

    p.is-large Be prepared for a lot of light. Depending on the conditions, you may or may not be able to see the audience well (or at all).

    +b.ui-Cols
      +e.Item
        p.is-small Be prepared for a lot of light. Depending on the conditions, you may or may not be able to see the audience well (or at all). There are techniques that will help you prepare for that situation. We’ll illuminate the audience and reduce the brightness of the stage lights for Q&A sessions.
      +e.Item
        p.is-small Be prepared for a lot of light. Depending on the conditions, you may or may not be able to see the audience well (or at all). There are techniques that will help you prepare for that situation. We’ll illuminate the audience and reduce the brightness of the stage lights for Q&A sessions.

    p: strong Be prepared for a lot of light. Depending on the conditions, you may or may not be able to see the audience well (or at all).
    p: em Be prepared for a lot of light. Depending on the conditions, you may or may not be able to see the audience well (or at all).

    blockquote.is-large
      p By sponsoring Front-Trends, you'll reach thousands of professional web-developers, both at the event and online once videos areposted
      cite John Doe

    blockquote
      p By sponsoring Front-Trends, you'll reach thousands of professional web-developers, both at the event and online once videos areposted
      cite John Doe

    blockquote.is-small
      p By sponsoring Front-Trends, you'll reach thousands of professional web-developers, both at the event and online once videos areposted
      cite John Doe

    figure.is-wider
      img(src="http://placekitten.com/1280/450")
      figcaption Be prepared for a lot of light

    +b.ui-Cols
      +e.Item
        ol
          li Riemann zeta function
          li Riemann Xi function
          li Dirichlet eta function
          li Dirichlet L-function
          li Hurwitz zeta function
          li Legendre chi function
          li Lerch transcendent
          li
            | Polylogarithm functions
            ul
              li Incomplete polylogarithm
              li Clausen function
              li
                | Complete Fermi–Dirac integral
                ul
                  li Incomplete polylogarithm
                  li Clausen function
      +e.Item
        ul
          li Riemann zeta function
          li Riemann Xi function
          li Dirichlet eta function
          li Dirichlet L-function
          li Hurwitz zeta function
          li Legendre chi function
          li Lerch transcendent
          li
            | Polylogarithm functions
            ul
              li Incomplete polylogarithm
              li Clausen function
              li
                | Complete Fermi–Dirac integral
                ul
                  li Incomplete polylogarithm
                  li Clausen function

    +b.ui-Table
      table
        thead
          tr
            th Company
            th Q1
            th Q2
            th Q3
            th G4
        tbody
          tr
            td Microsoft
            td 12.4
            td 12.4
            td 12.4
            td 12.4
          tr
            td Google
            td 30.2
            td 30.2
            td 30.2
            td 30.2
          tr
            td Apple
            td 25.5
            td 25.5
            td 25.5
            td 25.5

    +b.ui-Cols
      +e.Item
        +b.ui-Block
          h4 Term_Responsibility
          p The participant acknowledges that they may not engage in damage claims against the Conference Organizer should the holding of the Conference be hindered or prevented by unexpected political or economic events
      +e.Item
        +b.ui-Block
          h4 Term_Audio / Video Recording
          p The participant acknowledges that they may not engage in damage claims against the Conference Organizer should the holding of the Conference be hindered or prevented by evil

    +b.ui-Cols.is-wider
      +e.Item
        +b.ui-Block_dark
          h4 Term_Responsibility
          p The participant acknowledges that they may not engage in damage claims against the Conference Organizer should the holding of the Conference be hindered or prevented by unexpected political or economic events
      +e.Item
        +b.ui-Block_dark
          h4 Term_Audio / Video Recording
          p The participant acknowledges that they may not engage in damage claims against the Conference Organizer should the holding of the Conference be hindered or prevented by evil

  +Footer({ isIndex: true })
