include pug/_common.pug

+Page
  +Header

  +b.Content(role="main")
    h1 Нормы поведения на конференции
    p Всем участвующим, выступающим и спонсирующим нашу конференцию необходимо согласиться с нижеследующими нормами поведения. Организаторы конференции обязуются следить за соблюдением этих норм в течение всего времени, пока длится мероприятие. Чтобы обеспечить безопасную среду для всех участвующих, мы ожидаем сотрудничества от всех сторон.

    h2 Нужна помощь?
    p Вы найдёте все необходимые контактные данные в наших рассылках по электронной почте.

    h2 Краткая версия
- delete data.menu[0].href

    h2 Менее краткая версия
    p На конференции запрещено: высказывать оскорбительные комментарии, относящиеся к полу, гендерной идентичности и выражению, возрасту, сексуальной ориентации, инвалидности, внешности, телосложению, расе, этнической принадлежности, вероисповеданию и предпочитаемым технологиям, демонстрировать откровенные изображения в общественных местах, осуществлять умышленное запугивание, преследование, слежку, навязчивую фото-, видео- и аудиозапись, срывать выступления или другие события, вступать в неуместный физический контакт и оказывать нежелательное сексуальное внимание.
    p Те, кого просят прекратить оскорбительное поведение, должны немедленно выполнить просьбу.
    p Это в полной мере относится и к спонсорам конференции. В частности, спонсоры не должны использовать откровенные изображения или другие материалы, а также проводить акции с сексуальным подтекстом. Персонал на стендах (включая волонтёров) не должен использовать откровенную одежду/униформу/костюмы или как-то иначе создавать обстановку сексуальной направленности.
    p В случаях, если кто-то ведёт себя оскорбительно, организаторы конференции могут предпринять любые действия, которые посчитают нужными, включая предупреждение нарушителям или удаление с конференции без возмещения стоимости участия.
- delete data.footerMenu[0].href
    p Команда конференции будет рада помочь связаться с охраной отеля или места проведения мероприятия, с местными правоохранительными органами, предложить сопровождение, или иным образом помочь тем, кто подвергся оскорбительным действиям, почувствовать себя в безопасности на протяжении всей конференции. Мы ценим ваше присутствие.
    p Мы ожидаем от всех участвующих соблюдения этих правил на всех площадках конференции и на всех публичных мероприятиях, связанных с конференцией.

+Page({ title: "Code of Conduct" })._CoC
  +Header({ menu: data.menu })

  +b.Content(role="main")
      = "Оригинальный текст: "
      +b.ui-Link(href="http://2012.jsconf.us/#/about"): +e.Content http://2012.jsconf.us/#/about
      = " & "
    include:markdown-it(html=true, typographer=true) code-of-conduct.en.md
    p.is-small
      = "Пожалуйста, помогайте с переводами или улучшениями: "
      +b.ui-Link(href="https://github.com/leftlogic/confcodeofconduct.com"): +e.Content http://github.com/leftlogic/confcodeofconduct.com
    p.is-small
      = "Эта работа лицензирована "
      +b.ui-Link(href="https://creativecommons.org/licenses/by/3.0/deed.ru"): +e.Content Creative Commons «Attribution» («Атрибуция») 3.0, Непортированная

  +Footer({ menu: data.footerMenu })
