include pug/_common.pug

+Page._PreLanding
  +Header({ isIndex: true, menu: data.menu })

  +b.Content(role="main")
    p Тут будет лендинг, на основе всех этих блоков, но с пыщь-пыщь стилями.
    p Пока можно побродить по ссылкам в меню.
    p
      = "Или посмотреть на "
      a(href="all-the-blocks.html")= "полный вариант вёрстки со всеми блоками"

  +Footer({ isIndex: true, menu: data.footerMenu })
