include pug/_common.pug

+Page._PreLanding
  +Header({ isIndex: true, menu: data.menu })

  +b.Content(role="main")
    +e.Banner
      h1
        abbr(title="Saint Petersburg") saint-p
        = " summer css"
      h2 June 16, 2017

  +Footer({ isIndex: true, menu: data.footerMenu })
